
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model NWC.App.Layer.Models.URL
<div ng-controller="ConverterCtrl">

    @Html.HiddenFor(model => Model.AppURI)

    @*Hero*@
    @Html.Partial("~/Views/Home/Hero.cshtml")

    @*Navigation*@
    @Html.Partial("~/Views/Home/Navigation.cshtml")

    @*Convert*@
    <div id="convert">
        @Html.Partial("~/Views/Home/Convert.cshtml")
    </div>

    @*Results*@
    <div id="result">
        @Html.Partial("~/Views/Home/Results.cshtml")
    </div>

    @*About*@
    @Html.Partial("~/Views/Home/About.cshtml")

    @*Footer*@
    @Html.Partial("~/Views/Home/Footer.cshtml")

</div>